/* .myProduct, .login{
    text-align: right;
} */
.navbar-brand{
    font-size: 0.7cm; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left
}

.dropdownParent{
    position: absolute;
    top: 52px; 
    border-radius: 0;
    opacity: 0.9;
    background-color: rgb(252, 228, 228);
    margin-top: auto
   
}

.cartDisplay{
    object-fit: cover;
    width: 10px;
    height: 10px;
}