.card{
    /* background-color: rgb(201, 198, 198); */
    height: auto !important;
}

.listItem{
    border: none !important;
    
}

.panel-title > a{
    color: black !important;
    text-decoration: none !important;
}
