.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-sm-3 {
  display: inline-block;
  float: none;
}

.productImageHome{
  max-height: 170px !important
}
.col-sm-3 {  
  font-size: 48px; padding-bottom: 20px; padding-top: 18px; 
}
.productHome{
  font-size: 15px
}
