
/* @media (min-width: 768px) { */
    /* div .carousel-item img{
        max-height: 500px;
        opacity: 0.8;
        background-size: cover;
        
    } */
/* .tembakFlex{
    grid-row: auto !important
}
} */

